<nav class="navbar navbar-default" role="navigation">
  <div class="row">
    <div class="col-md-3">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Receipt Nav</a>
        </div>
      </div>
    </div>
    <div class="col-md-3 pull-right">
      <ul><li> <a href="deals">Deals</a> </li>
      <li><a href="items">Items</a></li>
      <li><a href="locations">Locations</a></li></ul>
    </div>
  </div>
</nav>
