<nav class="navbar navbar-default" role="navigation">
  <div class="row">
    <div class="col-md-3">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Receipt Nav</a>
        </div>
      </div>
    </div>
    <div class="col-md-3 pull-right">
      <ul>
        <li><%= link_to 'Deals', deals_path %></li>
        <li><%= link_to 'Items', items_path %></li>
        <li><%= link_to 'Groups', groups_path %></li>
        <li><%= link_to 'Locations', locations_path %></li>
      </ul>
    </div>
  </div>
</nav>
