<h1>My Deals</h1>
<%= render :partial => 'tableDeals', :locals => { :dealset => @mydeals } %>

<h1>All Deals</h1>
<%= render :partial => 'tableDeals', :locals => { :dealset => @deals } %>

<br>
<%= link_to 'New Deal', new_deal_path %>
